# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [22]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [23]:
# your code here
orders = pd.read_csv("Orders.csv")
orders.shape

(397924, 14)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [24]:
# your code here
total_spent = orders.groupby("CustomerID").agg({"amount_spent":"sum"})
total_spent = total_spent.reset_index()

# top = round(len(total_spent)*0.05)

# sorted1 = total_spent.sort_values(by=["amount_spent"], ascending = False)
# top95 = sorted1.head(top)
# top95
total_spent

      CustomerID  amount_spent
0          12346      77183.60
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
4          12350        334.40
...          ...           ...
4334       18280        180.60
4335       18281         80.82
4336       18282        178.05
4337       18283       2094.88
4338       18287       1837.28

[4339 rows x 2 columns]

In [25]:
labels = ["low", "low1", "low2","low3","low4","low5","low6","low7","low8","low9","low10","low11","low12","low13","low14","Preferred4","Preferred3","Preferred2","Preferred1","VIP"]
bins = pd.qcut(total_spent["amount_spent"], 20, labels = labels)

# Divided data frame by 20 so that each bin represents 5% (from 0-75:bins are called low, from 75-95 bins are called preferred and from 95-100 VIP)

In [26]:
orders["CustomerType"] = bins
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,CustomerType
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,VIP
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred1
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Preferred4
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred4
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,low5

In [27]:
def cstype(row):
    if (row['CustomerType'] == 'Preferred1') or (row['CustomerType'] == 'Preferred2') or (row['CustomerType'] == 'Preferred3') or (row['CustomerType'] == 'Preferred4'):
        return 'Preferred'
    elif (row['CustomerType'] == 'VIP'):
        return 'VIP'
    else:
        return 'Regular'
    
orders["CustomerType"] =  orders.apply(cstype, axis = 1)


orders["CustomerType"].value_counts()

Regular      396839
Preferred       868
VIP             217
Name: CustomerType, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [36]:
# your code here

VIP = orders[orders["CustomerType"]=='VIP'].groupby(["Country"]).agg({"CustomerType":"count"})
VIP.sort_values(by=["CustomerType"], ascending=False)

# The country with the biggest number of VIPs is United Kingdom

                CustomerType
Country
United Kingdom           204
Norway                     9
EIRE                       2
Australia                  1
Spain                      1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [35]:
# your code here

VIP_PREF = orders[orders["CustomerType"]!='Regular'].groupby(["Country"]).agg({"CustomerType":"count"})
VIP_PREF.sort_values(by=["CustomerType"], ascending=False)

# Also the UK has the highest combined VIP+PREFERRED

                CustomerType
Country
United Kingdom          1035
Norway                    17
EIRE                      10
France                     8
Germany                    7
Australia                  5
Spain                      2
Switzerland                1